<div class="contact-form">

  <%= form_for @contact, :url => {:action => 'create_contact', :controller => 'pages'} do |f| %>
    <div class="form-group">
      <%= f.text_field(:name, :class => "form-control", :placeholder => "Name", :required => true) %>
    </div>
    <div class="form-group">
      <%= f.text_field(:email, :class => "form-control", :placeholder => "Email", :required => true) %>
    </div>
    <div class="form-group">
      <%= f.text_area(:message, :class => "form-control", :placeholder => "Write message here", :required => true) %>
    </div>
    &nbsp;
    <div id="contact-submit">
      <%= submit_tag("Send Inquiry", :class => "btn btn-primary submit-button") %>
    </div>

  <% end %>
</div>

<div class="row contact">
  <div class="home-column col-md-8 col-md-offset-2">
        <div class="contact-info center">
      <%= link_to 'https://github.com/smilansky', :class => 'icon-link' do %>
        <i class="fa fa-github fa-4x"></i>
      <% end %>
      <%= mail_to "dsmilansky@gmail.com", :class=> 'icon-link' do %>
        <i class="fa fa-envelope fa-4x" data-toggle="email" title=""></i>
      <% end %>
    </div>
  </div>


</div>
