<div id="contact-form">
  <%= form_for @contact, :url => {:action => 'create_contact', :controller => 'pages'} do |f| %>
    <div class="form-group">
      <%= f.text_field(:name, :class => "form-control", :placeholder => "NAME") %>
    </div>
    <div class="form-group">
      <%= f.text_field(:email, :class => "form-control", :placeholder => "EMAIL") %>
    </div>
    <div class="form-group">
      <%= f.text_area(:message, :class => "form-control", :placeholder => "Write message here") %>
    </div>
    &nbsp;
    <div id="contact-submit">
      <%= submit_tag("Send Inquiry", :class => "btn btn-primary submit-button") %>
    </div>

  <% end %>
</div>

