
<div class="row">
  <div class="home-column col-md-8 col-md-offset-2">
    <h3 id="column-header"></h3>

    <p id="content"> 
    Welcome! I like to build things that will make your life better. I also rock climb and am a part-time Hummus junkie.
    </p>
  </div>


</div>

<div class="row">
  <div class="home-column col-md-8 col-md-offset-2">
    <h3 id="column-header" class="center">Projects</h3>

    <p id="content">
    <%= link_to 'Gembutler', 'http://www.gembutler.io' %>
    - A dependency management automation tool for Rails applications.
    </p>
    <p id="content">
    <%= link_to 'ClipFlix', 'http://fathomless-coast-3489.herokuapp.com' %>
    - A NetFlix clone I built for fun that integrates with Stripe.
    </p>
    <p id="content">
    <%= link_to '20onesix', 'http://www.20onesix.com' %>
    - A 2016 Presidential Candidate Cheat Sheet.
    </p>

  </div>


</div>

<div class="row">
  <div class="home-column col-md-8 col-md-offset-2">
    <h3 id="column-header" class="center">Contact</h3>

    <div class="center">
      <%= link_to 'https://github.com/smilansky', :class => 'icon-link' do %>
        <i class="fa fa-github fa-4x"></i>
      <% end %>
      <%= mail_to "dsmilansky@gmail.com", :class=> 'icon-link' do %>
        <i class="fa fa-envelope fa-4x" data-toggle="email" title=""></i>
        <% end %>
        <i class="fa fa-phone fa-4x" data-toggle="phone" title=""></i> 
    </div>
  </div>


</div>

