<div class="row">
<div class="home-column col-md-8 col-md-offset-2">
  <h3 id="column-header"></h3>

  <p id="content"> 
  Welcome! I like to build things that will make your life better. I also rock climb and am a part-time Hummus junkie.
  </p>
</div>


</div>


<div class="row contact">
  <div class="home-column col-md-8 col-md-offset-2">
    <h3 id="column-header" class="center">Contact</h3>
    <div id="contact-form">
      <p>I am available for consulting projects on an ongoing basis. Please contact me below with details of what you are looking for and I will be sure to reach out as promptly as possible.</p>
      <%= form_for @contact, :validate => true,  :url => {:action => 'create_contact', :controller => 'pages'} do |f| %>
      <div class="form-group">
        <td><%= f.label(:name) %></td>
        <td><%= f.text_field(:name, :class => "form-control") %></td>
      </div>
      <div class="form-group">
        <td><%= f.label(:email) %></td>
        <td><%= f.text_field(:email, :class => "form-control") %></td>
      </div>
      <div class="form-group">
        <td><%= f.label(:message) %></td>
        <td><%= f.text_area(:message, :class => "form-control") %></td>
      </div>
      <td>&nbsp;</td>
      <div id="contact-submit">
      <td><%= submit_tag("Send Inquiry", :class => "btn btn-primary submit-button") %></td>
      </div>

    <% end %>
    </div>
    <div class="contact-info center">
      <%= link_to 'https://github.com/smilansky', :class => 'icon-link' do %>
        <i class="fa fa-github fa-4x"></i>
      <% end %>
      <%= mail_to "dsmilansky@gmail.com", :class=> 'icon-link' do %>
        <i class="fa fa-envelope fa-4x" data-toggle="email" title=""></i>
      <% end %>
      <i class="fa fa-phone fa-4x" data-toggle="phone" title=""></i> 
    </div>
  </div>


</div>

