.row
  .col-md-2
  .col-md-9
    %h1 Daniel Smilansky
.row 
  .col-md-2
  .col-md-9  
    %p.homecontent 
      Ruby on Rails Developer and Entrepreneur currently working at 
      = link_to "Integrallis", "http://www.integrallis.com"   
      who loves to build things that will make your life better. During my spare time, I rock climb, read classic novels and am a part-time Hummus junkie.


.center.contact
  = link_to "Email", "mailto:dsmilansky@gmail.com"
  = link_to "Github", "https://github.com/smilansky"
  = #link_to image_tag('gmail.png', height: "100px", width: "100px"), "mailto:dsmilansky@gmail.com"
  = #link_to image_tag('GitHub-Mark-64px.png'), "https://github.com/smilansky"

