<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <title> Smilansky's Hub</title>
    <%= stylesheet_link_tag "application", media: "all", :"data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="canvas container">
      <div class="row" id="header">
        <a id="home-link" href="<%= home_path %>"><h1 id="logo">DANIEL SMILANSKY</h1></a>
        <div id="topNav">
          <nav>
            <ul>
              <li><%= link_to 'blog', blog_path %></li>
              <li><%= link_to 'fun', fun_path %></li>
              <li><%= link_to 'contact', contact_path %></li>
              <% if current_user %>
                <li><%= link_to 'logout', logout_path %></li>
                <% end %>
            </ul>
          </nav>
        </div>

      </div>

      <div class="row page-divider">
      </div>
      <div class="application">
        <%= render partial: 'shared/flash_messages', flash: flash %>
      <%= yield %>                
      </div>
      <div class="row footer-page-divider">
      </div>

      <div class="row">
        <footer>

          <div id="footertext">

            <p id="footer"> 
            <span style="font-size:16px">&nbsp;</span>
            <strong>©&nbsp;</strong>

            Daniel Smilansky 2016</p>
          </div>
        </footer>
      </div>
    </div>
    </div>
  </body>
</html>
